<div class="set-bg">
  <div style="position: relative;
    top: 85px;
    left: 32px;
display: flex">
    <ba-back-page style="z-index: 1;"></ba-back-page>
    <div style="float: right;margin: auto"><img class="" style="width: 55%" src="/assets/img/fxt_logo.png"></div>
  </div>
  <!--<div style="top: 80px;-->
    <!--position: relative;-->
    <!--text-align: center;"><img class="" style="width: 13%" src="/assets/img/fxt_logo.png"></div>-->
<div class="auth-main">
  <div class="auth-block pass-block" style="width: 40%">
    <div class="login-header-block">
      <h1>Reset Your Password</h1>
    </div>
    <div class="form-group" style="position: absolute; width: 40%; margin-top: -30px;" *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)">
      <label for="inputError" class="">
      </label>
      <div class="col-sm-10" class="invalid-password">
        <span class="invalid-password" *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" >Passwords don't match.</span>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal login-form">
      <div class="form-group row"  style="margin-top: 25px;" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword" class="col-md-12 col-sm-12 control-label">Password</label>
        <div class="col-sm-12">
          <input [formControl]="password" type="password"  class="login-password form-control" id="inputPassword" placeholder="">
        </div>
      </div>
      <div class="row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
        <label for="inputPassword3" class="col-md-12 col-sm-12 control-label">Confirm Password</label>
        <div class="col-sm-12 margin-bottom-20px">
          <input [formControl]="repeatPassword" type="password" class="login-password form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 col-md-12">
          <button [disabled]="!form.valid || submitted" type="submit" class="btn btn-default btn-auth">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>